<nav class="navbar navbar-expand-lg bg-dark">
    <div class="d-flex">
      <a class="navbar-brand" href="#" >
        <img src="../../../assets/recursos/img/Pok-dex-25-10-2024.gif" alt="" width="100%">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav m-2">
          <a class="nav-link" routerLink="/pokemon" routerLinkActive="active">Pokemon</a>
          <a class="nav-link" routerLink="/item" routerLinkActive="active">Objetos</a>
          <a class="nav-link" routerLink="/games" routerLinkActive="active">Juegos</a>
        </div>
      </div>
    </div>
  </nav>